body{
  background: url("../images/seigaiha.png");
  letter-spacing: .1125em;
}
h1{
  color: #FF6D79;
}
h2{
  color:#8CCC2C;
}
h3{
  text-align: center;
}
.panel .panel-heading{
  background: #336699;
}
.btn{
  margin-right: 1em;
  margin-bottom: .5em;
}
img{
  width: 100%;
}
.well{
  margin: 1em auto;
}
.col-md-4{
  margin-top: 2em;
}
#back-to-top .glyphicon{
  font-size: 2em;
}
#display_btns{
  text-align: center;
}
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: #444;
    cursor: pointer;
}
