body{
  background: url("../images/seigaiha.png");
  letter-spacing: .1125em;
}
h1{
  color: #FF6D79;
}
.panel .panel-heading{
  background: #336699;
}
.btn{
  margin-right: 1em;
  margin-bottom: .5em;
}
img{
  width: 100%;
}
.well{
  margin: 1em auto;
}
